In [4]:
import json
import pandas as pd
with open('data.json') as f:
    data = json.load(f)
data

{'random': '33',
 'random float': '7.662',
 'bool': 'true',
 'date': '1987-01-13',
 'regEx': 'hellooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo world',
 'enum': 'generator',
 'firstname': 'Vevay',
 'lastname': 'Kalinda',
 'city': 'Cairo',
 'country': 'Finland',
 'countryCode': 'TN',
 'email uses current data': 'Vevay.Kalinda@gmail.com',
 'email from expression': 'Vevay.Kalinda@yopmail.com',
 'array': ['Cacilie', 'Nerta', 'Blake', 'Wanda', 'Melanie'],
 'array of objects': [{'index': '0', 'index start at 5': '5'},
  {'index': '1', 'index start at 5': '6'},
  {'index': '2', 'index start at 5': '7'}],
 'Siana': {'age': '65'}}

In [5]:
def store_leaf_value(key, value, path):
    data = [(path + '.' + key, value)]
    dataframe = pd.DataFrame(data)
    dataframe.columns = ['Path', 'Value']
    return dataframe

store_leaf_value('age', '65', 'root.Siana')

             Path Value
0  root.Siana.age    65

In [6]:
master_data_frame = pd.DataFrame()
def json_parser(data, master_data_frame, path):
    if isinstance(data, dict):
        for key, value in data.items():
            if isinstance(value, str):
                master_data_frame = pd.concat([master_data_frame, store_leaf_value(key, value, path)])
            elif isinstance(value, dict):
                dict_path = path + '.' + key
                master_data_frame = json_parser(data[key], master_data_frame, dict_path)
            elif isinstance(value, list):
                for i in range(len(value)):
                    list_path = path + '.' + str(i)
                    master_data_frame = json_parser(data[key][i], master_data_frame, list_path)
            else:
                pass
    return master_data_frame

a = json_parser(data, master_data_frame, 'root')
a

,Path,Value
0,root.random,33
0,root.random float,7.662
0,root.bool,true
0,root.date,1987-01-13
0,root.regEx,helloooooooooooooooooooooooooooooooooooooooooo...
0,root.enum,generator
0,root.firstname,Vevay
0,root.lastname,Kalinda
0,root.city,Cairo
0,root.country,Finland
0,root.countryCode,TN
0,root.email uses current data,Vevay.Kalinda@gmail.com
0,root.email from expression,Vevay.Kalinda@yopmail.com
0,root.0.index,0
0,root.0.index start at 5,5
0,root.1.index,1
0,root.1.index start at 5,6
0,root.2.index,2
0,root.2.index start at 5,7
0,root.Siana.age,65